#content_container {
    flex-direction: column;
}

#reports_filter_form {
    display: flex;
    justify-content: space-evenly;
}

label, select {
    padding: 5px; /* Name Convention: small-spacing (5px) */
    margin: 10px; /* Name Convention: big-spacing (10px) */
    background-color: #CDCDCD; /* Name Convention: light-neutral-colour (light grey) */;
    color: #343434; /* Name Convention: dark-neutral-colour (very dark grey) */
}

#results {
    width: 100%;
    text-align: center;
}

thead {
    background-color: #CDCDCD; /* Name Convention: light-neutral-colour (light grey) */
}

td {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #CDCDCD; /* Name Convention: light-neutral-colour (light grey) */
    padding: 5px;  /* Name Convention: small-spacing (5px) */ 
}

