#content_container {
    flex-direction: column; /* everything stacks ontop of each other */
}

#reports_filter_form {
    display: flex; /* enable flex */
    justify-content: space-evenly; /* space out filter form evenly across width */
}

label, select {
    padding: 5px; /* Name Convention: small-spacing (5px) */
    margin: 10px; /* Name Convention: big-spacing (10px) */
    background-color: #CDCDCD; /* Name Convention: light-neutral-colour (light grey) */;
    color: #343434; /* Name Convention: dark-neutral-colour (very dark grey) */
}

#results {
    width: 100%; /* table spans width of page */
    text-align: center; /* text centered in cells */
}

thead {
    background-color: #CDCDCD; /* Name Convention: light-neutral-colour (light grey) */
}

td {
    border-left: 0px; /* no border */
    border-right: 0px; /* no border */
    border-top: 0px; /* no border */
    border-bottom: 1px; /* 1px border on the bottom of each cell in table */
    border-style: solid; /* solid border */
    border-color: #CDCDCD; /* Name Convention: light-neutral-colour (light grey) */
    padding: 5px;  /* Name Convention: small-spacing (5px) */ 
}

.filtered_out {
    visibility: collapse; /* hide filtered out time entries */
}

